<div class="converter">
  <h2 class="title">Crypto Coins Converter</h2>

  <form [formGroup]="converterForm" class="converter-form">
    <div class="row">
      <div class="col-md-3 col-12 amount">
        <div class="form-group">
          <input
            id="amount"
            name="amount"
            class="form-control"
            formControlName="amount"
            pattern="^[0-9]{0,9}$"
            data-toggle="tooltip"
            data-placement="top"
            (keyup)="onKeyInput($event)"
            title="Numbers only"
            [ngClass]="{
              'is-invalid': converterForm.controls.amount.dirty && converterForm.controls.amount.errors
            }"
          />
        </div>
      </div>

      <div class="col-md-4 col-12 from">
        <div class="form-group">
          <select id="from" name="from" formControlName="from" class="custom-select" [(ngModel)]="fromCoin" (change)="onChangeFrom($event)">
            <option disabled selected value>-- select an option --</option>
            <option *ngFor="let currency of currencies" [value]="currency.asset_id">{{ currency.asset_id }}</option>
          </select>
          <img src="{{ fromIcon | lowercase }}" alt="{{ fromIcon | lowercase }}" />
        </div>
      </div>

      <button class="btn switch" (click)="onSwap()">
        <svg aria-hidden="true" data-id="icon-exchange" viewBox="0 0 50 47" height="32px" width="30px">
          <path
            fill="currentColor"
            fill-rule="evenodd"
            d="M49.897 35.977L26.597 25v7.874H7.144v6.207h19.455v7.874zM.103 11.642l23.3 10.977v-7.874h19.454V8.538H23.402V.664z"
          ></path>
        </svg>
      </button>

      <div class="col-md-4 col-12 to">
        <div class="form-group">
          <select id="to" name="to" formControlName="to" class="custom-select" [(ngModel)]="toCoin" (change)="onChangeTo($event)">
            <option disabled selected value>-- select an option --</option>
            <option *ngFor="let cryptoCoin of cryptoCoins" [value]="cryptoCoin.asset_id">
              {{ cryptoCoin.asset_id }}
            </option>
          </select>
          <img src="{{ toIcon | lowercase }}" alt="{{ toIcon | lowercase }}" />
        </div>
      </div>

      <div class="col-12 form-group result">
        <div class="inner-result">
          <p>
            <span class="spanA"> {{ amountValue }} {{ fromAssetName }} ({{ fromCoin }}) </span>
            <span class="spanB">= </span>
            <span class="spanC">{{ rate * amountValue }} {{ toAssetName }} ({{ toCoin }})</span>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
