<div class="card">

    <div class="card-header">
        {{ title }}
    </div>

    <div class="card-body">
        <div class="list-group">
            <button class="list-group-item list-group-item-action rounded-0" *ngFor="let coin of coins"
                (click)="coinSelected(coin)">
                <ng-container>
                    <!-- <img src="{{ coin.icon?.url }}" alt="{{ coin?.name }}"> -->
                    {{ coin?.name }}
                </ng-container>
            </button>
        </div>
    </div>
</div>